@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@plugin "@tailwindcss/typography";

* {
    /*font-family: "Source Code Pro", monospace;*/
    /*font-family: "JetBrains Mono", monospace;*/
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.bg-primary {
    background-color: #121212;
}

.bg-secondary {
    background-color: #1E1E1E;
}

.text-primary {
    color: #E0E0E0;
}

.accent {
    color: #00FFD1;
}

.bg-primary-warm {
    background-color: #F7F5F0;
}

.bg-secondary-warm {
    background-color: #FFFFFF;
}

.text-primary-warm {
    color: #4A4A4A;
}

.accent {
    color: #A38B5C;
}